#about {
   padding: 50px 25px;
}

section  button[type='button'], button[type='submit'] {
    display: block;
    margin: 15px 0 20px;
    background-color: #e84610;
    color: #fafafa;
    text-transform: uppercase;
}

#button-home {
    margin: 15px auto 20px;
    position: relative;
    top: 400px;  
}

.contact {
    padding: 10px 20px 20px 20px;
    border-collapse: unset;
}

#form-center {
    width: 200px;
    margin: 0 auto 0;
    padding: 20px 0 20px;
}

#card-center {
    width: 300px;
    margin: 15px auto 30px;
}

.link {
    color: #e84610;
    text-decoration: none;
}

div#map {
    min-height: 360px;
}
