{% extends "base.html" %}

{% block content %}

<section class="row no-gutters main-image">
    <div class="col-sm-8">
        <div class="card text-dark bg-light border-success mt-5" id="card-center">
            <div class="card-body">
                <h5 class="card-title">Your booking</h5>
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>{{ booking.customer.first_name }} {{ booking.customer.last_name }}</td>
                        </tr>
                        <tr>
                            <td>Party size</td>
                            <td>{{ booking.party_size }}</td>
                        </tr>
                        <tr>
                            <td>Booking time</td>
                            <td>{{ booking_time }}</td>
                        </tr>
                        <tr>
                            <td>Time of booking</td>
                            <td>{{ time_of_booking }}</td>
                        </tr>
                    </tbody>
                </table>
                {% if user.is_authenticated %}
                <div class="container">
                <div class="row no-gutters">
                    <div class="col-8 offset-2">
                        <a href="{% url 'delete' booking_id=booking.id %}" class="btn btn-danger">Delete</a>
                        <a href="{% url 'edit' booking_id=booking.id %}" class="btn btn-success">Edit</a>
                    </div>
                </div>
            </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-sm-4">
    </div>
</section>

{% endblock %}