{% extends "base.html" %}

{% block content %}

<section class="row no-gutters">
    <div class="col-sm-8" id="main-image">
        <button type="submit" class="btn btn-secondary center-block">Book a table</button>
    </div>
    <div class="col-sm-4">
        <p id="about">Welcome to our seafood restaurant. The restaurant is located 
            in a picturesque setting surrounded by mountains and sea.<br><br> 
            Our specialty is all kinds of fish. The fish we serve 
            has been caught the same day and we only use the freshest ingredients 
            from local farmers.</p>
    </div>
</section>

{% endblock %}