{% extends "base.html" %}

{% block content %}

<section class="row no-gutters">
    <div class="col-sm-8" id="main-image">
        <button type="submit" class="btn btn-secondary center-block">Book a table</button>
    </div>
    <div class="col-sm-4">
        <p id="about">Welcome to our seafood restaurant. The restaurant is located 
            in a picturesque setting surrounded by mountains and sea.<br><br> 
            Our specialty is all kinds of fish. The fish we serve 
            has been caught the same day and we only use the freshest ingredients 
            from local farmers.</p>
    </div>
</section>

<!-- Footer -->
<footer class="mt-auto px-3 py-3 bg-secondary row">
    <div class="col-sm-4 text-white">
        <h4>Address:</h4>
        <p>5 Sea Street, Vancouver Canada</p>
    </div>
    <div class="col-sm-4 text-white">
        <h4>Phone:</h4>
        <p>0123456789</p>
    </div>
    <div class="col-sm-4 text-white">
        <h4>Email:</h4>
        <p>searestaurant@mail.com</p>
    </div>
</footer>

{% endblock %}